<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <title>MTC BUS ROUTE</title>
    <link rel="stylesheet" href="./CSS/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    flag=1;
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
    
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();
    
          // Store hash
          var hash = this.hash;
    
          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 400, function(){
    
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
        
        if(flag){
        document.getElementById('backbtn').innerHTML = "< Back";
        flag=0;
        }else{
          document.getElementById('backbtn').innerHTML = "";
          flag=1;
        }
      });
    });
    </script>
  </head>
  <body>
      <nav class="navbar navbar-expand-sm fixed-top" style="background-color: #006EB6;">
          <a class="navbar-brand" href="#sidebar" id="backbtn" style="color: white;"></a>
        </nav>
    <div class="row">
      <div class="col-sm-3" id="sidebar">
        <div class="container-fluid">
          <br />
          <hr />
          <h3 style="text-align: center;">
            <i class="fa fa-bus" style="color:yellow"></i> MTC BUS TRACKER
          </h3>
          <hr />
          <div class="form-group">
            <label for="start">Start:</label>
            <select class="form-control" id="start">
              <option value="Velachery, Chennai, Tamil Nadu"
                >Velachery, Chennai, Tamil Nadu</option
              >
              <option value="T. Nagar, Chennai, Tamil Nadu"
                >T. Nagar, Chennai, Tamil Nadu</option
              >
              <option value="Guindy, Chennai, Tamil Nadu"
                >Guindy, Chennai, Tamil Nadu</option
              >
              <option value="Tambaram, Chennai, Tamil Nadu"
                >Tambaram, Chennai, Tamil Nadu</option
              >
              <option value="Avadi, Tamil Nadu">Avadi, Tamil Nadu</option>
            </select>
          </div>
          <div class="form-group">
            <label for="dest">Destination:</label>
            <select class="form-control" id="end">
              <option value="Medavakkam, Chennai, Tamil Nadu"
                >Medavakkam, Chennai, Tamil Nadu</option
              >
              <option value="Madipakkam, Chennai, Tamil Nadu"
                >Madipakkam, Chennai, Tamil Nadu</option
              >
              <option value="Anna Nagar, Chennai, Tamil Nadu"
                >Anna Nagar, Chennai, Tamil Nadu</option
              >
              <option value="Guduvanchery, Tamil Nadu"
                >Guduvanchery, Tamil Nadu</option
              >
              <option value="Vandalur, Tamil Nadu">Vandalur, Tamil Nadu</option>
              <option value="Pallavaram, Chennai, Tamil Nadu"
                >Pallavaram, Chennai, Tamil Nadu</option
              >
            </select>
            <br>
            <center><button class="btn btn-success" id="search"><a href="#map" id="search" style="text-decoration: none !important; color: white;">Search</a></button></center>
            <br>
            <!-- <div id="routeDisplay"></div> -->
            <div id="routeDisplay">
              <div>
                <span id="route"></span>
              </div>
              <div>
                <label>Distance : </label>
                <span id="distance"></span>
              </div>
              <div>
                <label>Time : </label>
                <span id="time"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="map" class="col-sm-9"></div>
    </div>
</div>
<!-- navbar -->
<div id="myNav" class="overlay" style="background-color:#006eb6;color:  #fff; font-size: 18px;line-height: 50px;margin-top: -50;">
    <button href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</button>
    <div class="overlay-content" >
        <div id="routeDisplay">
            <hr />
            <h3>
              <i class="fa fa-bus" style="color:yellow;"></i> MTC BUS TRACKER
            </h3>
            <hr />
            <div>
              <label>Route : </label>
              <span class="route"></span>
            </div>
            <div>
              <label>Distance : </label>
              <span class="distance"></span>
            </div>
            <div>
              <label>Time : </label>
              <span class="time"></span>
            </div>
            <div>
                <label>SEATS AVAILABEL : </label>
                <span><%=seats%></span>
            </div>
            <div>
                <label>PRICE : </label>
                <span>₹ <%=price%></span>
            </div>
          </div>
    </div>
  </div>  
  <h2 id="showroute" style="padding: 25px;"></h2>
  <div id="section2" style="overflow: auto;">
    <div id="routeDisp" >

    </div>
  </div>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD37UizytAiQ7AefQr-4WqfcWFa6FZajw0"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
    <!-- <script  src="../public/JS/app.js"/> -->
    <script src="./JS/app.js"></script>
  </body>
</html>
